 * {
    background-color: lightsteelblue;
    font-weight: bold;
 }

 h1 {
    font-family: cursive;
    background-color: lightseagreen;
    border-radius: 10px;
    border: 2px groove yellowgreen;
    padding: 5px;
    margin: 3px;
 }

 form {
    padding: 20px;
    border: 4px groove grey;
    border-radius: 10px;
    font-family: Arial, sans-serif;
 }

 label {
    font-weight: bold;
    margin-bottom: 5px;
 }

 input[type="text"],
 input[type="email"],
 input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 3px;
    /* box-sizing: border-box; */
    font-size: 16px;
 }

 input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
 }

 select option {
    font-size: 16px;
    color: #333;
    background-color: #fff;
 }

 input[type="submit"]:hover {
    background-color: #3e8e41;
 }

 span {
    color: red;
 }